= styles_for :lead

= render 'entities/title_bar'

.remote.create#create_lead{ hidden }

/ = render 'search'

.remote#options{ hidden }

.list#leads
	- if @leads.any?
		%table.table#leadTable
			%thead
				%tr
					%th{:title => "Status"} Status 
					%th{:title => "Name"} Name
					%th{:title => "Email"} Email
					%th{:title => "Phone"} Phone
					%th{:title => "Actions"} Actions
			= render @leads
	- else
		= render "shared/empty"
/ = will_paginate @leads 
/ #paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

:javascript
	$('#leadTable').DataTable();
